<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>DAFTAR CONTACT</h2>
            <a href="/contact/add" class="btn btn-success">Tambah Data</a>

            <!-- Setting flash massage -->
            <% if (msg.length !== 0) { %>
              <div class="alert alert-success mt-3" role="alert">
                <%= msg %> 
              </div>
            <% } %>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama</th>
                    <th scope="col">No. HP</th>
                    <th scope="col">Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (contacts.length === 0) { %>
                   <tr>
                     <td colspan="4">
                      <div class="alert alert-danger" role="alert">
                        Data contact masih Kosong.
                      </div>
                     </td>
                   </tr>
                    
                  <% } %>

                  <% contacts.forEach((contact, n) => { %>
                    <tr>
                      <th scope="row"><%= n+1 %> </th>
                      <td><%= contact.nama %></td>
                      <td><%= contact.email %></td>
                      <td>
                          <a href="/contact/<%= contact.nama  %> " class="btn btn-success badge rounded-pill"><i class="bi bi-info-circle"></i> detail</a>
                      </td>
                    </tr>
                  <% }) %>
                  
                  
                </tbody>
              </table>
        </div>
    </div>
</div>